# Configuration
HCP_URL=https://hcp.vigitrust.com
HCP_USERNAME=your_username
HCP_PASSWORD=your_password

PINPOINT_BASE_URL=https://pinpoint.zerorisk.io

DISCORD_WEBHOOK=https://discord.com/api/webhooks/...

# Danh sách Device IDs (phân cách bằng dấu phẩy)
DEVICE_IDS=42060,42059,42058
